# Dependencies
node_modules/

# Build output
dist/

# TypeScript cache
*.tsbuildinfo

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Environment variables
.env
.env.local

# IDE / Editor specific
.vscode/
.idea/
*.DS_Store

# Test coverage
coverage/
.nyc_output/

# npmrc (may contain tokens)
.npmrc
